@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans&family=Roboto+Slab&display=swap');



html,
body {
  font-family: "Lexend", sans-serif !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  /* Ngăn trang cuộn ngang */
}

ul {
  text-decoration: none;
  list-style: none;
}

/* homepage */
.page {
  margin: 0 auto;
  width: 1420px;
  height: 910px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: transform 0.5s ease-in-out;
}

.header {
  position: absolute;
  top: 0;
  left: 250px;
  right: 400px;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 36.78px;
  height: 36px;
}

.rectangle {
  position: absolute;
  width: 32.7px;
  height: 32px;
  border-radius: 4px 4px 24px 4px;
  background-color: #F59E0B;
}

.rectangle-above {
  position: absolute;
  width: 32.7px;
  height: 32px;
  top: 4px;
  left: 4px;
  border-radius: 4px 4px 24px 4px;
  background-color: #4BE4C9;
}

.tittle {
  display: flex;
  align-items: center;
}

.tittle h1 {
  padding-left: 12.26px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.navbar ul {
  margin: 0 46px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.navbar ul li {
  padding: 8px 16px 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
}

.navbar ul li:hover {
  border: 1px solid #4453d4;
  color: #4453d4;
  transition: 0.4s ease;
}

.navbar ul li button {
  border: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
  background-color: transparent;
}

.navbar ul li button:hover {
  color: #4453d4;
}


.navbar .btn-signup {
  width: 107px;
  height: 46px;
  border: none;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #047857;
  background-color: #D1FAE5;
}

.container-context {
  display: flex;
  position: relative;
}

.context {
  margin-top: 100px;
  margin-right: 50px;
}



.context h1 {
  width: 370px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #1B1C57;
}

.context h1 span {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.context h3 {
  font-size: 16px;
  line-height: 28px;
  color: #888B97;
}

.context .input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.context .input-container input {
  padding: 4px 120px 4px 40px;
  width: 496px;
  height: 56px;
  border-radius: 32px;
  gap: 16px;
}

.context .input-container .icon-room {
  position: absolute;
  left: 10px;
  top: 50%;
  color: #F59E0B;
  transform: translateY(-50%);
}

.context .input-container .btn-search {
  position: absolute;
  right: 4px;
  top: 50%;
  background-color: #10B981;
  transform: translateY(-50%);
  width: 109px;
  height: 48px;
  border: none;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container span {
  color: #fff;
}

.icon-chevron {
  color: #fff;
}

.partnership {
  width: 427px;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
}

.partnership img {
  width: 82.75px;
  height: 64px;
  object-fit: scale-down;
}

.icon {
  background-color: #D9D9D9;
  color: #000;
  border-radius: 50%;
}

.line-red {
  position: absolute;
  top: 128px;
  left: 105px;
  width: 67.95px;
  height: 91.5px;
  border-top: 4px solid #EF4444;
  border-left: 4px solid #EF4444;
}

.line-orange {
  position: absolute;
  top: 190px;
  right: 208px;
  width: 40.36px;
  height: 97px;
  border-top: 4px solid #F59E0B;
  border-right: 4px solid #F59E0B;
}

.line-blue {
  position: absolute;
  top: 365px;
  right: 198px;
  width: 43.43px;
  height: 75px;
  border-top: 4px solid #3B82F6;
  border-right: 4px solid #3B82F6;
}

.carousel-inner {
  z-index: 0;
}

.carousel-item {
  border-radius: 0px 0px 0px 80px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  width: 735.69px;
  height: 720px;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: #D9D9D9;
}

.carousel-control-prev,
.carousel-control-next {
  transition: background-color 0.5s ease;
}

.carousel-control-prev {
  position: absolute !important;
  left: -200px !important;
}

.carousel-control-next {
  position: absolute !important;
  right: 70px !important;
}

.carousel {
  position: relative;
}

.people,
.houses {
  position: absolute;
  bottom: 0;
}

.people {
  left: 111.38px;
  bottom: 52px;
  padding: 24px;
  width: 328px;
  height: 104px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  gap: 16px;
}

.txt-people h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.txt-people h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.avatar {
  position: relative;
  width: 112px;
}

.img-avatar {
  position: absolute;
}

.man {
  left: 28px;
}

.brown {
  left: 56px;
}

.houses {
  padding: 24px;
  right: 79.32px;
  bottom: 52px;
  display: flex;
  width: 203px;
  height: 104px;
  border-radius: 32px;
  gap: 16px;
  background-color: #fff;
}


.txt-houses h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.txt-houses h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.houses img,
.people img {
  width: 56px;
  height: 56px;
  border-radius: 24px;
}

/* page recommend */
.recomendationpage {
  padding: 100px 105px;
}

.featured-house {
  display: flex;
  justify-content: space-between;
}

.group {
  position: relative;
}

.line {
  position: absolute;
  top: 8%;
  left: -40px;
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
}

.featured-house h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
  color: #F59E0B;
}

.featured-house h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.navbar-houses {
  display: flex;
  align-items: center;
}

.navbar-houses ul {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
}


.navbar-houses ul li .btn-houses {
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 24px;
  background-color: transparent;
}

.navbar-houses ul li .btn-houses .material-icons {
  margin-right: 10px;
}

.navbar-houses ul li .btn-houses:hover,
.navbar-houses ul li .btn-houses:hover span {
  border: none;
  color: #10B981;
  background-color: #D1FAE5;
}

.navbar-houses ul li button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #888B97;
}

.navbar-houses ul li .active {
  border: none;
  background-color: #D1FAE5;
}

.navbar-houses ul li .active>span {
  color: #10B981;
}

.btn-container {
  width: 136px;
  height: 52px;
  display: flex;
  justify-content: space-between;

}

.btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 52px;
  border-radius: 32px;
  border: none;
}

.btn-container button:hover {
  color: #fff;
  background-color: #10B981;
}

.btn-container .active {
  color: #fff;
  background-color: #10B981;
}

.recomend-houses {
  display: flex;
  justify-content: center;
}

.recomend-houses ul {
  width: 1100px;
  height: 552px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.recomend-houses ul li {
  width: 340px;
  height: 552px;
  padding: 8px 16px 8px 16px;
}

.recomend-houses ul li .img-container img {
  width: 340px;
  height: 382px;
  border-radius: 24px;
}

.recomend-houses ul li .img-container {
  position: relative;
}

.tag {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 16px;
  left: 16px;
  padding: 8px 16px 8px 16px;
  height: 34px;
  border-radius: 32px;
  cursor: pointer;
}

.tag span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
}

.tag .material-icons {
  font-size: 16px;
  margin-right: 10px;
}

.red {
  background-color: #FEE2E2;
}

.red span {
  color: #EF4444;
}

.blue {
  background-color: #DBEAFE;
}

.blue span {
  color: #1D4ED8;
}

.green {
  background-color: #D1FAE5;
}

.blue span {
  color: #047857;
}

.price-house {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
}

.price-house h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.price-house h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.owner {
  display: flex;
}

.owner img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.owner h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.owner h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}

/* sell house */
.sell-page {
  padding: 100px 105px;
  display: flex;
  justify-content: space-between;
}

.sell-house {
  width: 522px;
  height: 404px;
}

.sell-house h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
  color: #F59E0B;
}

.sell-house h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.sell-house h3 {
  width: 420px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626687;
}

.house-container {
  width: 600px;
}

.sell-house .line {
  top: 7%;
}

.house-detail {
  width: 440px;
  height: 124px;
}

.house-detail h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1B1C57;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex .room {
  display: flex;
  align-items: center;
  width: 193.5px;
  height: 32px;
}

.flex .room .material-icons {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  color: #888B97;
}

.sell-house .line-gray {
  margin: 32px auto;
  width: 440px;
  height: 2px;
  background-color: #F0F3FD;
}

.sell-house .contact {
  display: flex;
  width: 440px;
  height: 56px;
}

.sell-house .contact .position {
  width: 218px;
}

.sell-house .contact img {
  margin-right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sell-house .contact h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.sell-house .contact h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888B97;
}

.sell-house .contact button {
  height: 48px;
  display: flex;
  padding: 12px 16px 12px 16px;
  gap: 16px;
  border: none;
  border-radius: 32px;
  color: #fff;
  background-color: #10B981;
}

.sell-house .contact .txt-contact {
  width: 91px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.sell-page .img-container {
  position: relative;
  width: 488px;
  height: 416px;
}

.sell-page .img-container .house-img {
  width: 488px;
  height: 416px;
  border-radius: 4px;
  z-index: 0;
}

.sell-page .img-container .decorate-container .cough-img {
  position: absolute;
  bottom: -43px;
  left: -40px;
  width: 296px;
  height: 168px;
  border-radius: 4px;
}

.sell-page .img-container .decorate-container .decorate-img {
  position: absolute;
  bottom: -43px;
  left: 268px;
  width: 96px;
  height: 80px;
  border-radius: 4px;
}

.sell-page .img-container .decorate-container .chair-img {
  position: absolute;
  bottom: -43px;
  left: 372px;
  width: 96px;
  height: 80px;
  border-radius: 4px;
}

.sell-page .img-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-page .img-container button span {
  color: #fff;
}

/* tip-trick */
.tip-page {
  position: relative;
  padding: 100px 105px;
}

.tip-trick .group {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tip-trick .group .line {
  position: absolute;
  top: -14px;
  left: 48.5%;
}

.tip-trick .group h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
  color: #F59E0B;
  text-transform: capitalize;
}

.tip-trick .group h1 {
  padding: 0 380px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
}

.tip-trick .group button {
  width: 118px;
  padding: 12px 16px 12px 16px;
  border-radius: 32px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background-color: #10B981;
  gap: 16px;
}

.tip-container {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  gap: 68px;
}

.tip-container ul {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.tip-container ul li {
  display: flex;
}

.tip-container ul li img {
  margin-right: 32px;
  width: 200px;
  height: 144px;
  border-radius: 16px;
}

.tip-container ul li .tip-info {
  width: 340px;
  height: 148px;
  gap: 16px;
}

.tip-container ul li .tip-info img {
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tip-container ul li .tip-info span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
}

.tip-container ul li .tip-info h3 {
  margin: 12px 0 16px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #1B1C57;
  text-transform: capitalize;
}

.tip-container ul li .tip-info .time-post {
  display: flex;
  align-items: center;
}

.tip-container ul li .tip-info .time-post span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1B1C57;
}

.tip-container ul li .tip-info .time-post .material-icons {
  margin-right: 12px;
  font-size: 24px;
  color: #888B97;
}

.tip-container .thing-container img {
  margin-bottom: 24px;
  width: 560px;
  height: 280px;
  border-radius: 16px;
}

.tip-container .thing-container span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3C4563;
}

.tip-container .thing-container .tip-info img {
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tip-container .thing-container .tip-info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1B1C57;
}

.tip-container .thing-container .tip-info h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
}

.tip-container .thing-container .tip-info .time-post {
  display: flex;
  align-items: center;
}

.tip-container .thing-container .tip-info.time-post span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1B1C57;
}


.tip-container .thing-container .tip-info .time-post .material-icons {
  margin-right: 12px;
  font-size: 24px;
  color: #888B97;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-container {
  position: relative;
  width: 1200px;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-image: url('../images/background-color.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer .subscribe-container h3 {
  text-align: center;
  position: relative;
  width: 422px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.footer .subscribe-container .view {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 24px;
}

.chair-table {
  top: 38px;
  left: 44px;
  width: 81px;
  height: 81px;
}

.house-footer {
  top: 178px;
  left: 195px;
  width: 54px;
  height: 54px;
}

.roof-house {
  top: 44px;
  right: 200px;
  width: 70px;
  height: 70px;
}

.chair-plant {
  top: 197px;
  right: 73px;
  width: 55px;
  height: 55px;
}

.footer .subscribe-container .avatar {
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.avatar-brown {
  top: 35px;
  left: -250px;
}

.avatar-blue {
  top: -65px;
  left: -75px;
}

.avatar-red {
  top: -25px;
  right: -185px;
}

.avatar-purple {
  top: 15px;
  right: -125px;
}

.footer .subscribe-container .input-container {
  margin-top: 32px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.footer .subscribe-container .input-container input {
  border: none;
  padding: 4px 150px 4px 60px;
  width: 496px;
  height: 56px;
  border-radius: 32px;
  gap: 16px;
}

.footer .subscribe-container .input-container .material-icons {
  position: absolute;
  left: 24px;
  top: 50%;
  color: #3B82F6;
  transform: translateY(-50%);
}

.footer .subscribe-container .input-container button {
  padding: 12px 16px 12px 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  background-color: #10B981;
  transform: translateY(-50%);
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerinfo-container {
  position: relative;
  margin-top: 118px;
  width: 1200px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.footerinfo-container .social-media-container {
  width: 320px;
  height: 200px;
}

.footerinfo-container .social-media-container .tittle h1 {
  margin-bottom: 0;
}

.footerinfo-container .social-media-container h4 {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 75%;
}

.footerinfo-container .social-media-container .social-media {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footerinfo-container .social-media-container .social-media .fa-brands {
  size: 32px;
}

.footerinfo-container .information {
  display: flex;
  justify-content: space-evenly;
  gap: 88px;
}

.footerinfo-container .information h1 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.5px;
}

.footerinfo-container .information ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footerinfo-container .information ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  color: #888B97;
  opacity: 75%;
}

.loader {
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 438px;
  height: 494px;
  aspect-ratio: 1;
  background-color: #FFFA82;
  border-radius: 50%;
  animation: l1 3s infinite linear;
  filter: blur(150px);
  z-index: -1;
}

.lightgreen-loader {
  background-color: #1ab9a4;
  top: 0;
  left: 0;
}

.blue-loader {
  background-color: #82FFE8;
  top: 0;
  left: -300px;
}

.yellow-loader {
  background-color: #C8FF82;
  top: 600px;
  left: -300px;
}

.green-loader {
  height: 200px;
  background-color: #B9FF82;
  top: 100px;
  left: -100px;
}

.lightblue-loader {
  height: 200px;
  background-color: #82BBFF;
  top: 100px;
  right: -200px;
}

@keyframes l1 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%
  }

  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%
  }

  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%
  }

  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%
  }

  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%
  }

  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%
  }

  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%
  }
}
