@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans&family=Roboto+Slab&display=swap');



body {
  font-family: "Lexend", sans-serif !important;
}

ul {
  text-decoration: none;
  list-style: none;
}

/* homepage */
.page {
  margin: 0 auto;
  width: 1420px;
  height: 910px;
}

.header {
  position: absolute;
  top: 0;
  left: 250px;
  right: 400px;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 36.78px;
  height: 36px;
}

.rectangle {
  position: absolute;
  width: 32.7px;
  height: 32px;
  border-radius: 4px 4px 24px 4px;
  background-color: #F59E0B;
}

.rectangle-above {
  position: absolute;
  width: 32.7px;
  height: 32px;
  top: 4px;
  left: 4px;
  border-radius: 4px 4px 24px 4px;
  background-color: #4BE4C9;
}

.tittle {
  display: flex;
  align-items: center;
}

.tittle h1 {
  padding-left: 12.26px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.navbar ul {
  margin: 0 46px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.navbar ul li {
  padding: 8px 16px 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
}

.navbar ul li:hover {
  border: 1px solid #4453d4;
  color: #4453d4;
  transition: 0.4s ease;
}

.navbar ul li button {
  border: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
  background-color: transparent;
}

.navbar ul li button:hover {
  color: #4453d4;
}


.navbar .btn-signup {
  width: 107px;
  height: 46px;
  border: none;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #047857;
  background-color: #D1FAE5;
}

.container-context {
  display: flex;
  position: relative;
}

.context {
  margin-top: 100px;
  margin-right: 50px;
}



.context h1 {
  width: 370px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #1B1C57;
}

.context h1 span {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.context h3 {
  font-size: 16px;
  line-height: 28px;
  color: #888B97;
}

.input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input-container input {
  padding: 4px 4px 4px 40px;
  width: 496px;
  height: 56px;
  border-radius: 32px;
  gap: 16px;
}

.input-container .icon-room {
  position: absolute;
  left: 10px;
  top: 50%;
  color: #F59E0B;
  transform: translateY(-50%);
}

.input-container .btn-search {
  position: absolute;
  right: 4px;
  top: 50%;
  background-color: #10B981;
  transform: translateY(-50%);
  width: 109px;
  height: 48px;
  border: none;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container span {
  color: #fff;
}

.icon-chevron {
  color: #fff;
}

.partnership {
  width: 427px;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
}

.partnership img {
  width: 82.75px;
  height: 64px;
  object-fit: scale-down;
}

.icon {
  background-color: #D9D9D9;
  color: #000;
  border-radius: 50%;
}

.line-red {
  position: absolute;
  top: 128px;
  left: 105px;
  width: 67.95px;
  height: 91.5px;
  border-top: 4px solid #EF4444;
  border-left: 4px solid #EF4444;
}

.line-orange {
  position: absolute;
  top: 190px;
  right: 208px;
  width: 40.36px;
  height: 97px;
  border-top: 4px solid #F59E0B;
  border-right: 4px solid #F59E0B;
}

.line-blue {
  position: absolute;
  top: 365px;
  right: 198px;
  width: 43.43px;
  height: 75px;
  border-top: 4px solid #3B82F6;
  border-right: 4px solid #3B82F6;
}

.carousel-inner {
  z-index: 0;
}

.carousel-item {
  border-radius: 0px 0px 0px 80px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  width: 735.69px;
  height: 720px;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: #D9D9D9;
}

.carousel-control-prev,
.carousel-control-next {
  transition: background-color 0.5s ease;
}

.carousel-control-prev {
  position: absolute !important;
  left: -200px !important;
}

.carousel-control-next {
  position: absolute !important;
  right: 70px !important;
}

.carousel {
  position: relative;
}

.people,
.houses {
  position: absolute;
  bottom: 0;
}

.people {
  left: 111.38px;
  bottom: 52px;
  padding: 24px;
  width: 328px;
  height: 104px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  gap: 16px;
}

.txt-people h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.txt-people h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.avatar {
  position: relative;
  width: 112px;
}

.img-avatar {
  position: absolute;
}

.man {
  left: 28px;
}

.brown {
  left: 56px;
}

.houses {
  padding: 24px;
  right: 79.32px;
  bottom: 52px;
  display: flex;
  width: 203px;
  height: 104px;
  border-radius: 32px;
  gap: 16px;
  background-color: #fff;
}


.txt-houses h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.txt-houses h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #68799F;
}

.houses img,
.people img {
  width: 56px;
  height: 56px;
  border-radius: 24px;
}

/* page recommend */
.recomendationpage {
  padding: 100px 105px;
}

.featured-house {
  display: flex;
  justify-content: space-between;
}

.group {
  position: relative;
}

.line {
  position: absolute;
  top: 8%;
  left: -40px;
  width: 32px;
  height: 1px;
  background-color: #F59E0B;
}

.featured-house h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
  color: #F59E0B;
}

.featured-house h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.navbar-houses {
  display: flex;
  align-items: center;
}

.navbar-houses ul {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
}


.navbar-houses ul li .btn-houses {
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 24px;
  background-color: transparent;
}

.navbar-houses ul li .btn-houses .material-icons {
  margin-right: 10px;
}

.navbar-houses ul li .btn-houses:hover,
.navbar-houses ul li .btn-houses:hover span {
  border: none;
  color: #10B981;
  background-color: #D1FAE5;
}

.navbar-houses ul li button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #888B97;
}

.navbar-houses ul li .active {
  border: none;
  background-color: #D1FAE5;
}

.navbar-houses ul li .active>span {
  color: #10B981;
}

.btn-container {
  width: 136px;
  height: 52px;
  display: flex;
  justify-content: space-between;

}

.btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 52px;
  border-radius: 32px;
  border: none;
}

.btn-container button:hover {
  color: #fff;
  background-color: #10B981;
}

.btn-container .active {
  color: #fff;
  background-color: #10B981;
}

.recomend-houses ul {
  width: 1100px;
  height: 552px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.recomend-houses ul li {
  width: 340px;
  height: 552px;
  padding: 8px 16px 8px 16px;
}

.recomend-houses ul li .img-container img {
  width: 340px;
  height: 382px;
  border-radius: 24px;
}

.img-container {
  position: relative;
}

.tag {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 16px;
  left: 16px;
  padding: 8px 16px 8px 16px;
  height: 34px;
  border-radius: 32px;
  cursor: pointer;
}

.tag span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.5px;
}

.tag .material-icons {
  font-size: 16px;
  margin-right: 10px;
}

.red {
  background-color: #FEE2E2;
}

.red span {
  color: #EF4444;
}

.blue {
  background-color: #DBEAFE;
}

.blue span {
  color: #1D4ED8;
}

.green {
  background-color: #D1FAE5;
}

.blue span {
  color: #047857;
}

.price-house {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
}

.price-house h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.price-house h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.owner {
  display: flex;
}

.owner img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.owner h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.owner h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888B97;
}

.loader {
  position: absolute;
  top: 30px;
  width: 50px;
  aspect-ratio: 1;
  background: #006cff;
  border-radius: 50%;
  animation: l1 3s infinite linear;
}

@keyframes l1 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%
  }

  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%
  }

  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%
  }

  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%
  }

  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%
  }

  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%
  }

  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%
  }
}
